<ul class="nav">
    <li><a ng-click="formType='capture'" role='button'>Capture</a></li>
    <li><a ng-click="formType='reversal'" role='button'>Reversal</a></li>
    <li><a ng-click="formType='return'" role='button'>Return</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Transaction<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>Capture</li>
            <li>Reversal</li>
            <li>Return</li>
          </ul>
    </li>
    <li><a href="#/lookup" role="button">Lookup</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Report<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>Option 1</li>
            <li>Option 2</li>
          </ul>
    </li>
</ul>